.graphic {
    /* border-radius: 3.9px 3.9px 0 0; */
    /* background-image:
        linear-gradient(to right, white, transparent 90%),
        linear-gradient(to left, white, transparent 90%),; */
    background-color: #A499F4;
    /* background-image: radial-gradient(circle, rgba(76, 65, 136, 0.8) 60%, rgba(255, 0, 0, 0) 100%); */
    border-bottom: solid 1.5vh;
    border-bottom-color: #A499F4;
    /* border-bottom-color: radial-gradient(circle, rgba(76, 65, 136,) 60%, rgba(255, 0, 0, 0) 100%); */
    /* margin: 1vh; */
    /* padding: 2.3vh; */
    /* padding-left: 2.3vh;
    padding-right: 2.3vh; */
    width:88%;
    height: 15%;

    /* To center align */
    /* left: 50%; */
    /* right: 50%; */
    /* transform: translateX(-50%); */
    /* For testing: */
    /* opacity: 1; */
    align-items: center;
    /* vertical-align: middle; */
    display: flex;
}
.logo {
    opacity: 0;
}
.crest {
    opacity: 0;
}
.inner {
    /* padding-top: auto; */
    /* padding-bottom: auto; */
    padding-left:  2vw;
    padding-right: 4vw; 

    display: flex;
    flex-direction: row;
    gap: 2vw;
    
    color: #0C0C0C;
    /* width: 100%; */    
    min-height: 0;
}

.inner * {
    margin: 0;
    white-space: nowrap;
}
.title {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4vw;
    opacity: 0;
}
.subtitle {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 1.4vw;
    opacity: 0;
}