<!DOCTYPE html>
<html>
    <!-- To build: 
     npm run build -file=wsaf/[folder_name] -- --skip-absolute-urls
    -->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="graphic.css">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>   <!--Tailwind-->
        <link rel="preconnect" href="https://fonts.googleapis.com">         <!--Google Font-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- # Google Font stylesheets here # -->
    </head>
    <body class="h-screen flex items-center justify-center">
        <!-- HTML code Here -->
    </body>
    <script src="graphic.js"></script>
    <script src="../../node_modules/gsap/dist/gsap.js"></script>  <!--GSAP (animation library for .js code)-->
    <script src="../../dev.js"></script>    <!--Allows for easy debugging (add ?debug=true to url when using the http server)-->
</html>