body {
  background-color: transparent;
  margin: 0;
}

.graphic {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  opacity: 0;
  /* TODO: Is this needed? */
}

.graphic .inner {
  height: 100%;
  width: 100%;
  align-items: center;
}