body {
  background-color: transparent;
  margin: 0;
}

.graphic {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  /* height: 18.2vh; */
  /* width: fit-content; */
  display: flex;
  flex-direction: row;
  /* opacity: 0; */
  /* TODO: Is this needed? */
  margin-right: 1vw;
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  /* TODO: Remove (implemented by graphic-specific CSS) */
  border-bottom: solid 1.82vh;
  border-bottom-color: rgba(196, 23, 51, 0.8);
  /* ================================================== */
}

/* .graphic .num {
  writing-mode: vertical-lr;
  width: 5.2vh;
  overflow: hidden;
  font-size: 5.2vh;
  line-height: 5.2vh;
  padding-left: 3px;
  border-radius: 0 3.9px 0 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.9058823529);
  padding-top: 0.8vh;
  flex-shrink: 0;
  text-wrap: none;
  background-color: rgba(196, 23, 51, 0.8);
} */

/* .graphic .helper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 3.9px 3.9px;
  height: 18.2vh;
  width: 18.2vh;
  display: none;
} */

.graphic .inner {
  border-radius: 3.9px 0 0 0;
  height: 100%;
  width: max-content;
  align-items: center;
  
  /* TODO: Remove (implemented by graphic-specific CSS) */
  background-color: rgba(241, 241, 241, 0.8);
  display: flex;
  flex-direction: column;
  /* ================================================== */
}
/* TODO: Remove (implemented by graphic-specific CSS) */
.graphic .inner h3 {
  padding: 0
}


/* =================================================== */

/* .graphic .logo {
  max-width: 90%;
  max-height: 90%;
} */

/* .info {
  min-height: 0;
  min-width: 5vw;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
} */

/* #line1 {
  height: 3.25vh;
  width: 100%;
}

#line2 {
  padding-top: 0.91vh;
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 0.5vh;
  min-height: 0;
}

.tag {
  height: 3.575vh;
  background-color: #a6263b;
  width: 0;
  overflow: hidden;
  position: relative;
  border-radius: 0.125rem;
  flex-grow: 0;
}

.tag-item {
  color: white;
  position: absolute;
  height: 3.25vh;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  padding-left: 1vh;
  padding-right: 1vh;
}

.l2-template {
  display: none;
}

.top {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 7.8vh;
  text-transform: uppercase;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 8.19vh;
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 0;
  color: rgba(196, 23, 51, 0.8);
}

.bottom {
  min-height: 0;
  width: max-content;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 3.25vh;
  line-height: 3.4125vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding-left: 0.52vw;
  padding-right: 0.52vw;
  color: rgba(157, 39, 58, 0.7);
  min-height: 0;
} */

/*# sourceMappingURL=lower-third.css.map */
